<h1>{{title}} </h1>
<mat-toolbar>

  <nav>
    <a mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
    &nbsp;
    <a (click)= "logout()">Logout</a>
    &nbsp;
    <a  mat-button [routerLink]="['/heroes']" routerLinkActive="router-link-active" >Heroes</a>
    &nbsp;
    <a  mat-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >DashBoard</a>
    &nbsp;

  </nav>

</mat-toolbar>
<mat-progress-bar
  *ngIf = "loading" color = "accent" mode ="indeterminate">
</mat-progress-bar>

<router-outlet></router-outlet>
<app-messages></app-messages>
